
<!-- start: JavaScript-->
<!--[if !IE]>-->

<import file="asserts_new.js.jquery-2#1#0#min" />
<!--<![endif]-->

<!--[if IE]>

<import file="asserts_new.js.jquery-1#11#0#min" />

<![endif]-->

<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-2.1.0.min.js'>" + "<" + "/script>");
</script>

<!--<![endif]-->

<!--[if IE]>

<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.11.0.min.js'>" + "<" + "/script>");
</script>

<![endif]-->
<import file="asserts_new.js.jquery-migrate-1#2#1#min" />
<import file="asserts_new.js.bootstrap#min" />

<!-- page scripts -->
<import file="asserts_new.js.jquery-ui-1#10#3#custom#min"/>
<import file="asserts_new.js.jquery#sparkline#min"/>
<import file="asserts_new.js.jquery#chosen#min"/>
<!--[if lte IE 8]>
<import file="asserts_new.js.excanvas#min" /><![endif]-->
<import file="asserts_new.js.jquery#flot#min" />
<import file="asserts_new.js.jquery#flot#pie#min" />
<import file="asserts_new.js.jquery#flot#stack#min" />
<import file="asserts_new.js.jquery#flot#resize#min" />
<import file="asserts_new.js.jquery#flot#time#min" />
<import file="asserts_new.js.retina#min" />
<import file="asserts_new.js.raphael#min" />
<import file="asserts_new.js.jquery#cleditor#min" />
<import file="asserts_new.js.justgage#1#0#1#min" />
<import file="asserts_new.js.jquery#autosize#min"/>
<import file="asserts_new.js.jquery#placeholder#min"/>
<import file="asserts_new.js.jquery#maskedinput#min"/>
<import file="asserts_new.js.jquery#inputlimiter#1#3#1#min"/>
<!-- theme scripts -->
<import file="asserts_new.js.custom#min" />
<import file="asserts_new.js.core#min" />
<!-- inline scripts related to this page -->
<import file="asserts_new.js.pages.index" />
<import file="asserts_new.js.bootstrap-datepicker#min" />
<import file="asserts_new.js.bootstrap-timepicker#min" />
<import file="asserts_new.js.daterangepicker#min"/>
<import file="asserts_new.js.pages.form-elements"/>
<import file="asserts_new.js.moment#min"/>
<!-- end: JavaScript-->