<!-- start: Main Menu -->
<div id="sidebar-left" class="col-sm-1">
    <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li id="machine_manage">
                <a class="dropmenu" href="index.html#"><i class="fa fa-eye"></i><span class="hidden-sm"> 设备管理</span>
                    <span class="badge badge-success">3</span></a>
                <ul style="display: block">
                    <li id="machine_list"><a class="submenu" href="/index.php/Home/Index/mine_devices"><i class="fa fa-th-list"></i><span
                            class="hidden-sm"> 设备列表</span></a></li>
                    <li id="machine_map"><a class="submenu" href="/index.php/Home/Index/mine_map"><i class="fa fa-bar-chart-o"></i><span
                            class="hidden-sm"> 设备分布图</span></a></li>
                    <li id="environment_ranking"><a class="submenu" href="/index.php/Home/Index/mine_environment_rank"><i class="fa fa-line-chart"></i><span
                            class="hidden-sm"> 环境排行榜</span></a></li>
                </ul>
            </li>
            <li id="data_manage">
                <a class="dropmenu" href="index.html#"><i class="fa fa-folder-o"></i><span class="hidden-sm"> 数据管理</span>
                    <span class="badge badge-important">4</span></a>
                <ul>
                    <li id="chart_analysis"><a class="submenu" href="/index.php/Home/Index/mine_chart"><i class="fa fa-bar-chart-o"></i><span
                            class="hidden-sm"> 图表分析</span></a></li>
                    <li id="abnormal_log"><a class="submenu" href="/index.php/Home/Index/abnormallog"><i class="fa fa-warning"></i><span
                            class="hidden-sm"> 超标日志</span></a></li>
                    <li id="run_log"><a class="submenu" href="/index.php/Home/Index/mine_runlog"><i class="fa fa-circle-o-notch"></i><span
                            class="hidden-sm"> 运行日志</span></a></li>
                    <li id="raw_data_manage"><a class="submenu" href="/index.php/Home/Index/mine_rawdata"><i class="fa fa-database"></i><span
                            class="hidden-sm"> 原数据管理</span></a></li>
                    <!-- Profile Page - Cooming Soone
                    <li><a class="submenu" href="page-profile.html"><i class="fa fa-male"></i><span class="hidden-sm"> User Profile</span></a></li>
                    -->
                </ul>
            </li>
            <li id="base_data"><a class="dropmenu" href="typography.html"><i class="fa fa-shield"></i><span
                    class="hidden-sm"> 基础数据</span>
                <span class="badge badge-important">1</span></a>
                <ul>
                    <li id="level_custom"><a class="submenu" href="mine_grade"><i class="fa fa-arrows-alt"></i><span
                            class="hidden-sm"> 等级定制</span></a></li></li>
                </ul>
            </li>

        </ul>
    </div>
</div>